<!--EJS FORM EXAMPLE
<form>
  github id: <br />
  <input type="text" name="githubhandle"> <br />
    github password: <br />
  <input type="text" name="githubpassword"> <br />
  floobits url:<br>
  <input type="text" name="floobitsurl"><br>
   sprint name: <br />
  <input type="text" name="sprintname"> <br />


<!--   Should return a type of:<br>
  <select name="type">
    <option value="array">Array</option>
    <option value="number">Number</option>
    <option value="object">Object</option>
    <option value="string">String</option>
  </select><br /> -->

<!--   Should return the value:<br>
  <input type="text" name="expectedreturn"> -->
</form>
