<!-- NOT IN USE
FOR SERVER SIDE RENDER EXAMPLE ONLY -->



<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="main">
  <div class = "userCam">
    <% include ../partials/userCam.ejs %>
  </div>
    <% include ../partials/floobits.ejs %>
  <div class = "title-bar">
    <div>
      <img src="https://media.giphy.com/media/RB1gL2aMEsItG/giphy.gif">
    </div>
    <div>
      <h1> Alex, Anthony, Joe, and Sean's</h1>
      <h2> <em>amazing greenfield app</em></h2>

      <img src="https://thumbs.gfycat.com/CheerfulIndelibleFritillarybutterfly-max-1mb.gif">

    </div>
  </div>
  <div class="wrapper">
    <div>
      <% include ../partials/form.ejs %>
      <% include ../partials/codeInput.ejs %>
    </div>
    <div >
      <% include ../partials/learn.ejs %>
    </div>
    <div>
      <% include ../partials/repl.ejs %>
    </div>
    <% include ../partials/nav.ejs %>
  </div>
</body>
</html>
